<!DOCTYPE html>
<html>
   <head>
        <link rel="stylesheet" href="static/css/index.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <style>
        body {
          background: rgb(204,204,204); 
          width: 21cm;
          height: 29.7cm;
          margin: 0 auto;
        }

        div {
          background: white;
          display: block;
          margin: 0 auto;
          margin-bottom: 0.5cm;
          position: relative;
        }

        .page {  
          width: 21cm;
          height: 29.7cm; 
        }

        @page {
          size: 21cm 29.7cm;
          margin: 0mm;
        }
      </style>
   </head>
   <body>
       <div class="page">
           <div class="container">
               <div class="leftPanel">
                   <img src="static/img/pfp.jpg"/>
                    <div class="details">
                        <div  align="center" class="item bottomLineSeparator">
                            <h2>
                                CONTACT
                            </h2>
                            <div class="smallText white">
                                <p>
                                  <i class="fa fa-phone contactIcon" aria-hidden="true"></i>
                                  9327545182
                                </p>
                                <p>
                                  <i class="fa fa-envelope contactIcon" aria-hidden="true"></i>
                                  <a style="color:white;" href="2101030400089@silveroakuni.ac.in">
                                    2101030400089<br>@silveroakuni.ac.in
                                  </a>
                                </p>
                                <p>
                                  <i class="fa fa-map-marker contactIcon" aria-hidden="true"></i>
                                  Ahmedabad, Gujarat, India
                                </p>
                                <p>
                                  <i class="fa fa-linkedin-square contactIcon" aria-hidden="true"></i>
                                  <a style="color:white;" href="#">
                                    in/harsh awasthi
                                  </a>
                                </p>
                            </div>
                        </div>
                        <div align="center" class="item bottomLineSeparator">
                            <h2>
                                SKILLS
                            </h2>
                            <div class="smallText white">
                                <div class="skill">
                                    <span>Python</span>
                                  <div class="yearsOfExperience">
                                    <span class="alignright"> </span>
                                    <span class="alignleft">2 yr</span>
                                  </div>
                                </div>
                                <div class="skill">
                                    <span>MySQL</span>
                                  <div class="yearsOfExperience">
                                    <span class="alignright"> </span>
                                    <span class="alignleft">2 yr</span>
                                  </div>
                                </div>
                                <div class="skill">
                                    <span>Flutter</span>
                                  <div class="yearsOfExperience">
                                    <span class="alignright"> </span>
                                    <span class="alignleft">1 yr</span>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div  align="center" class="item">
                            <h2>
                                EDUCATION
                            </h2>
                            <div class="smallText white">
                                <p>
                                  BTech CSE
                                </p>
                                <p>
                                  Silver Oak University
                                </p>
                                <p>
                                  2021 - 2025
                                </p>
                            </div>
                        </div>
                    </div>
               </div>
               <div class="rightPanel">
                   <div>
                    <h1>
                      Harsh Awasthi
                    </h1>
                    <div class="smallText">
                      <h3>
                        Software Developer
                      </h3>
                    </div>
                    <h2>
                        About me
                    </h2>
                    <div style="background-color: white;" class="smallText">
                        <p style="background-color: white;">
                          An enthusiastic individual striving to be better by the day. Also a tech geek lol.
                        </p>
                    </div>
                    <div class="workExperience">
                          <h2>
                            Work experience
                          </h2>
                          <ul>
                            <li>
                              <div class="jobPosition">
                                <span class="bolded">
                                  SSIP Hackathon 2k22 Team Lead
                                </span>
                                <span>
                                  2022 - 2023
                                </span>
                              </div>
                            </li>
                            <li>
                              <div class="jobPosition">
                                <span class="bolded">
                                  TEDxSOU 2k22 Graphic Designing Team Lead
                                </span>
                                <span>
                                  2022 - 2022
                                </span>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="workExperience">
                          <h2>
                            Projects
                          </h2>
                          <ul>
                            <li>
                              <div class="jobPosition">
                                <span class="bolded">
                                  Full-Stack Online Video-Game Distribution Project using Python & MySQL
                                </span>
                                <span>
                                  2021
                                </span>
                              </div>
                            </li>
                            <li>
                              <div class="jobPosition">
                                <span class="bolded">
                                 Full-Stack Library Management Mobile-App Project using Flutter, Python & Supabase
                                </span>
                                <span>
                                  2022
                                </span>
                              </div>
                            </li>
                            <li>
                              <div class="jobPosition">
                                <span class="bolded">
                                  TEDxSOU 2k22 Graphic Designing Content
                                </span>
                                <span>
                                    2022
                                </span>
                              </div>
                            </li>
                          </ul>
                        </div>
                        
                        <div class="workExperience">
                          <h2>
                            Areas of Interest
                          </h2>
                          <ul>
                            <li>
                              <div class="jobPosition">
                                <span class="bolded">
                                  Software Development
                                </span>
                              </div>
                            </li>
                            <li>
                              <div class="jobPosition">
                                <span class="bolded">
                                 Content Writing
                                </span>
                              </div>
                            </li>
                            <li>
                              <div class="jobPosition">
                                <span class="bolded">
                                  Graphic Designing
                                </span>
                              </div>
                            </li>
                          </ul>
                        </div>
                        
                        <div class="workExperience">
                          <h2>
                            Hobbies
                          </h2>
                          <ul>
                            <li>
                              <div class="jobPosition">
                                <span class="bolded">
                                  Gaming
                                </span>
                              </div>
                            </li>
                            <li>
                              <div class="jobPosition">
                                <span class="bolded">
                                 Sports (Basketball)
                                </span>
                              </div>
                            </li>
                          </ul>
                        </div>
                  </div>
               </div>
            </div>
        </div>
   </body>
</html>