{% extends 'base.html' %}

{% block title %}
    Add Category
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Add Category</h1>
        <br/>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
            
                {{ form.as_p }}
                <br/><br/>
                <a href="{% url 'home' %}" class="btn btn-warning">
                    <i class="bi bi-caret-left-fill"></i>&nbsp;Back
                </a>&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary"><i class="bi bi-plus-lg"></i>&nbsp;Add</button>
            </form>
        </div>
    {% else %}
        <h1><a href="{% url 'login' %}" style="text-decoration: none;"><strong>Login</strong></a> To Add a Category</h1>
    {% endif %}
{% endblock %}