{% extends 'base.html' %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Change Password</h1>
        <br/>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
            
                {{ form.as_p }}

                <ul>
                    <li>Your password can't be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                </ul>
                <br/><br/>
                <a href="{% url 'home' %}" class="btn btn-warning">
                    <i class="bi bi-caret-left-fill"></i>&nbsp;Back
                </a>&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary"><i class="bi bi-check-lg"></i>&nbsp;Save</button>
            </form>
        </div>
    {% else %}
        <h1>Access Denied</h1>
    {% endif %}

{% endblock %}